/* change la color du texte de tous les liens de la page en orange */
a{
    color: orange;
}
p{
    background-color: #ff90fa88;
}
#presentation{
    background-color: #fff337;
    padding: 50px 10px;
    border: dotted 5px orange;
    margin: 50px 20px 100px;
    outline: dashed 5px green;
    border-radius: 50px 10px;
}
.rounded{
    border-radius: 50%;
}
.super_class{
    outline: solid 1px #ffffff;
}
body{
    background-image: url('img/cat-0.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
